body {
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: #fff;
	padding: 25px;
	border-radius: 37px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0, 0, 0, 0.16);

}

.calculator {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: right;
    font-size: 36px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    box-shadow: inset 2px 3px 11px rgb(0, 0, 0, 0.16), 5px 5px 12px #fff;
}

.calculator input {
background-color: transparent;
border: none;
text-align: end;
outline: none;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: white;
    border: 2px solid white;
    font-size: 32px;
    color: rgb(211, 202, 197);
    width: 25%;
    outline: none;
    border-radius: 70px;
    cursor: pointer;
    margin: 7px;
    box-shadow: inset 0 0 10px #fff, 0 0 10px rgb(0, 0, 0, 0.16);
}




.all-clear {
    width: 50%;
    color: black;
} 
.operator:hover, .all-clear:hover {
    background-color: rgb(185, 58, 58);
}

.decimal {
    color: black;
}

.operator:hover, .decimal:hover {
    background-color: papayawhip;
}

.percentage {
    color: black;
}

.operator:hover, .percentage:hover {
    background-color: papayawhip;
}

.zero-btn {
    width: 25%;
}

.operator, .equal-sign {
    background-color: white;
    color: black;
}

button:hover {
    background-color: darkgray;
}

.operator:hover, .equal-sign:hover {
    background-color: papayawhip;
}
